{{#template id="news_entry"}}
    <div class="news_entry">
        <div class="card-wrapper round">
            <div class="card-title">
                <div class="fTitle">
                    <div class="icon FRIENDS"></div>
                    <div class="title">
                        <div class="author">{{author}}</div>
                        <div class="date">{{date}}</div>
                    </div>
                    <div class="collapse-button">
                        {{component name="form" view="button" type="link" sid="newsOptions" hasIcon="true" icon="COLLAPSE"}}
                    </div>
                </div>
            </div>
            <div class="card-body no-title">
                {{news}}
            </div>
        </div>
    </div>
{{/template}}