.heater {
    padding: 9px 9px;
    overflow: hidden;
    width: 100%;
    display: inline-block;
}

.heater .panel {
    background-color: #d2e0e6;
    padding: 4px 4px;
    color: #fff;
    font-weight: bold;
    float: left;
}

.heater .panel .label {
    display: inline-block;
}
