<br/>
<div class="insert-wrapper">
    <div class="row">
        {{component name="form" view="textarea" cols="50" rows="10" label="Code" sid="code"}}
    </div>
    <div class="row">
        {{component name="form" view="textarea" cols="50" rows="10" label="Code" sid="description"}}
    </div>

    <div class="row">
        {{component name="form" view="input" type="text" label="UserName:" value="User..." sid="user"}}
    </div>

    {{component name="button" label="Save Snippet" value="Save"}}
</div>