.grid {
    width: 200px;
    height: 200px;
    border: 1px solid;
    overflow:hidden;
}

.header-row {
    background-color: #ebebeb;
    overflow: hidden;
}
.grid-row {
    display: block;
    overflow: hidden;
}
.cell {
    float: left;
    padding: 9px;
}
.collapsation-data {
    clear: both;
    display: none;
}
.collapsation-data.visible {
    display: block;
}