<div class="options-wrapper">
    <div class="apps">
        <div class="title">
            <span class="icon APP"/>Applications
        </div>
        <div class="selections">
            <div class="option">
                {{component name="form" view="button" type="link" label="News" hasIcon="true" icon="NEWS" sid="news"}}
            </div>
            <div class="option">
                {{component name="form" view="button" type="link" label="Friends" hasIcon="true" icon="FRIENDS" sid="friends"}}
            </div>
            <div class="option">
                {{component name="form" view="button" type="link" label="My blog" hasIcon="true" icon="BLOG" sid="blog"}}
            </div>
            <div class="option">
                {{component name="form" view="button" type="link" label="Photos" hasIcon="true" icon="PHOTOS" sid="photos"}}
            </div>
            <div class="option">
                {{component name="form" view="button" type="link" label="Videos" hasIcon="true" icon="VIDEOS" sid="videos"}}
            </div>
            <div class="option">
                {{component name="form" view="button" type="link" label="Cloud" hasIcon="true" icon="CLOUD" sid="cloud"}}
            </div>
        </div>
    </div>
    <div class="account-settings">
        <div class="title">
            <span class="icon ACCOUNT"/>Account Settings
        </div>
        <div class="selections">
            <div class="option">
                {{component name="form" view="button" type="link" label="Account" hasIcon="true" icon="PROFILE" sid="profile"}}
            </div>
            <div class="option">
                {{component name="form" view="button" type="link" label="Privacy" hasIcon="true" icon="PRIVACY" sid="privacy"}}
            </div>
        </div>
    </div>
</div>