<div class="options-wrapper">
    <div class="apps">
        <div class="title">
            <span class="icon APP"/>Applications
        </div>
        <div class="selections">
            <div class="option">
                {{component name="form" view="button" type="link" label="News" hasIcon="true" icon="NEWS"}}
            </div>
            <div class="option">
                {{component name="form" view="button" type="link" label="Friends" hasIcon="true" icon="FRIENDS"}}
            </div>
            <div class="option">
                {{component name="form" view="button" type="link" label="My blog" hasIcon="true" icon="BLOG"}}
            </div>
            <div class="option">
                {{component name="form" view="button" type="link" label="Photos" hasIcon="true" icon="PHOTOS"}}
            </div>
            <div class="option">
                {{component name="form" view="button" type="link" label="Videos" hasIcon="true" icon="VIDEOS"}}
            </div>
            <div class="option">
                {{component name="form" view="button" type="link" label="Cloud" hasIcon="true" icon="CLOUD"}}
            </div>
        </div>
    </div>
    <div class="account-settings">
        <div class="title">
            <span class="icon ACCOUNT"/>Account Settings
        </div>
        <div class="selections">
            <div class="option">
                {{component name="form" view="button" type="link" label="Account" hasIcon="true" icon="PROFILE"}}
            </div>
            <div class="option">
                {{component name="form" view="button" type="link" label="Privacy" hasIcon="true" icon="PRIVACY"}}
            </div>
        </div>
    </div>
</div>