<div class="options-wrapper">
    <div class="personal-info">
        <div class="profile-picture round-big">
            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/p160x160/1455191_864292760270076_2832445053056401929_n.jpg?oh=48fe3877ea86cffad2ecb5fae4c3c951&oe=565D9E7B&__gda__=1452965117_8f6a51c8e6e574a458b534080cb25a6e"/>
        </div>
        <div class="userName">MyUser</div>
    </div>
    <div class="apps">
        <div class="title">
            <span class="icon APP"/>Applications
        </div>
        <div class="selections">
            <div class="option">
                <div class="arrow-left"></div>
                {{component name="form" view="button" type="link" label="News" hasIcon="true" icon="NEWS" sid="news"}}
            </div>
            <div class="option">
                <div class="arrow-left"></div>
                {{component name="form" view="button" type="link" label="Friends" hasIcon="true" icon="FRIENDS" sid="friends"}}
            </div>
            <div class="option">
                <div class="arrow-left"></div>
                {{component name="form" view="button" type="link" label="My blog" hasIcon="true" icon="BLOG" sid="blog"}}
            </div>
            <div class="option">
                <div class="arrow-left"></div>
                {{component name="form" view="button" type="link" label="Photos" hasIcon="true" icon="PHOTOS" sid="photos"}}
            </div>
            <div class="option">
                <div class="arrow-left"></div>
                {{component name="form" view="button" type="link" label="Videos" hasIcon="true" icon="VIDEOS" sid="videos"}}
            </div>
            <div class="option">
                <div class="arrow-left"></div>
                {{component name="form" view="button" type="link" label="Cloud" hasIcon="true" icon="CLOUD" sid="cloud"}}
            </div>
        </div>
    </div>
    <div class="account-settings">
        <div class="title">
            <span class="icon ACCOUNT"/>Account Settings
        </div>
        <div class="selections">
            <div class="option">
                <div class="arrow-left"></div>
                {{component name="form" view="button" type="link" label="Account" hasIcon="true" icon="PROFILE" sid="profile"}}
            </div>
            <div class="option">
                <div class="arrow-left"></div>
                {{component name="form" view="button" type="link" label="Privacy" hasIcon="true" icon="PRIVACY" sid="privacy"}}
            </div>
        </div>
    </div>
</div>