.name h2 {
    color: #CEBFE9;
}

.info {
    color: white;
    font-size: 1.2em;
}

.call-button {
    overflow: hidden;
    padding: 2px;
    height: 6.9em;
    width: 7.5em;
    margin-left: 2em;
    margin-bottom: 2em;
}

.screen {
    min-width: 40em;
    min-height: 40em;
}

.phone-icon {
    background-image: url('../img/phone.png');
    width: 100%;
    height: 6.5em;
    cursor: pointer;
}

.sortUp {
    background-image: url('../img/up.png');
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.sortDown {
    background-image: url('../img/down.png');
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.sms-icon {
    background-image: url('../img/sms.png');
    width: 100%;
    height: 6.5em;
    cursor: pointer;
}

.call-button .label {
    margin: auto;
    min-width: 1em;
}

.container-call {
    width: 100%;
    height: 100%;
    background-color: #000a00;
    opacity: 0.9;
}

.contacts {
    list-style-type: none;
    border: 1px solid black;
}

.pagination {
    margin-left: 30px;
}

.searcher {
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.contacts .contact {
    background-color: #5f9ea0;
    border-bottom: 1px solid black;
    font-family: Arial;
    color: #ebcccc;
    padding: 2px;
}

.ng-modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.8;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.bg {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #000a00;
    opacity: 0.9;
    display: block;
}

.ng-modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index: 10000;
    position: absolute;
    width: 50%; /* Default */

    /* Center the dialog */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}

.phone-icon-big {
    background-image: url('../img/phone_big.png');
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.ng-modal-dialog-content {
    padding: 10px;
    text-align: left;
}

.ng-modal-close {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
    font-family: 'arial', 'sans-serif';
}
