<div class="container-fluid">
    <div class="row">

        <div class="container">
            <div class="name">
                <h2>
                    {{contact.firstName}} {{contact.lastName}}
                </h2>
            </div>
            <div class="picture">

            </div>
            <div class="info">
                <div class="label">
                    Primary
                </div>
                <div class="info">
                    {{contact.phoneNumber}}
                </div>
                <div class="label">
                    Country
                </div>
                <label class="info">
                    {{contact.country}}
                </label>
                <div class="label">
                    City
                </div>
                <label class="info">
                    {{contact.city}}
                </label>
                <div class="label">
                    Birthday
                </div>
                <label class="bbday">
                    <days-until>{{contact.birthDate | date:'yyyy-MM-dd'}}</days-until>
                </label>
                <div class="label">
                    Days until birth-day
                </div>
                <label>
                    {{contact.daysUntil}}
                </label>
                <div class="label">
                    Last Seen
                </div>
                <label class="lastSeen">
                    <img ng-src="http://maps.google.com/maps/api/staticmap?center={{contact.currentCoordinates}}
                        &zoom=4&size=300x300&sensor=false"/>
                </label>
            </div>
        </div>
        </div>

    </div>
</div>