<div class='ng-modal' ng-show='show' ng-controller="PhoneContacts">
    <div class='ng-modal-overlay' ng-click='hideModal()'></div>
    <div class='ng-modal-dialog' ng-style='dialogStyle'>
        <div class='ng-modal-close' ng-click='hideModal()'>X</div>
        <div class='ng-modal-dialog-content'>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 searcher">
                        Search: <input ng-model="query" class="query">
                    </div>
                    <div class="col-md-10">

                        <ul class="contacts" change>
                            <li class = "contact" repeat-complete="paging( $index )" ng-repeat="contact in contacts | filter:query">
                                {{contact.firstName}} {{contact.lastName}} | <a href="#/contacts/{{contact.id}}">Call button</a>
                            </li>
                        </ul>
                        <div class="pagination">
                            <ul id="myPager"></ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>