<div class="row" style="background:black">
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td class="name">
                        <h2>
                            {{contact.firstName}} {{contact.lastName}}
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        Primary Phone
                    </td>
                </tr>
                <tr>
                    <td class="info">
                        <a href="tel:{{contact.phoneNumber}}">{{contact.phoneNumber}}</a>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        Country
                    </td>
                </tr>
                <tr>
                    <td class="info">
                        {{contact.country}}
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        City
                    </td>
                </tr>
                <tr>
                    <td class="info">
                        {{contact.city}}
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        Birthday
                    </td>
                </tr>
                <tr>
                    <td class="info">
                        {{contact.birthDate * 1000 | date:'yyyy-MM-dd'}}
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        Days until birth-day
                    </td>
                </tr>
                <tr>
                    <td class="info">
                        {{contact.daysUntil}}
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        Last Seen
                    </td>
                </tr>
                <tr>
                    <td class="lastSeen">
                        {{contact.myPosition}}
                        <img ng-src="http://maps.google.com/maps/api/staticmap?center={{contact.currentCoordinates}}
                            &zoom=10&size=300x300&sensor=false"/>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        My Position
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="myPosition" style="width:300px; height: 300px;"></div>

                    </td>
                </tr>
            </table>
        </div>
        <div class="btn-group">
            <a class="btn-link" href="tel:{{contact.phoneNumber}}"><img src="img/phone.png"/></a>
            <a class="btn-link" href="sms:{{contact.phoneNumber}}"><img src="img/sms.png"/></a>
        </div>
    </div>
</div>
</div>