<div class="wordGameWrapper">
    <div class="gameContainer round">
        <div class="playable-area">
            <div class="letters round">

            </div>
            <div class="playable">
                {{component name="form" view="input" type="text" parentId=parentId sid="wordTyper" size="1000"}}
            </div>
        </div>
        <div class="words-wrapper">
            <div class="card-wrapper round">
                <div class="card-title">
                    <div class="fTitle name">Used words</div>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>

    </div>
    <div class="users-container">
        <div class="card-wrapper round">
            <div class="card-title">
                <div class="fTitle name">Players</div>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>