.heat-regulator-wrapper{
    width: 250px;
    height: 100px;
    padding: 9px 9px;
}

.heat-regulator-wrapper .heater_entry {
    width: 80px;
    height: 20px;
    line-height: 10px;
    font-size: 10px;
    font-family: "Arial";
}

.heat-regulator-wrapper .submit-button {
    width: 60px;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    margin-top: 10px;
    float: right;
}

