body {
    background-color: #F4F6F8;
}

.damn-content .options {
    float: left;
    width: 220px;
    padding: 20px 15px;
    background-color: #fff;
    position: relative;
    z-index: 10;
}

.damn-content .content {
    overflow: hidden;
    padding: 40px;
    width: 60%;
    min-height: 400px;
    position: relative;
}

@media screen and (min-width: 2800px) {
    .damn-content .options {
        width: 700px;
    }
}

.damn-content .options.active {
    display: block;
    z-index: 1000;
}

.damn-content .options .arrow-up {
    display: none;
}


.damn-content .options.active .arrow-up {
    display: none;
}

@media screen and (max-width: 750px),
screen and (min-device-width: 320px)
and (max-device-width: 750px){
    .damn-content .options {
        display: none;
        width: 450px;
    }

    .damn-content .options .arrow-up {
        position: absolute;
        top: -18px;
        left: 20px;
        border-bottom-color: #fff;
        display: block;
    }

    .damn-content .options.active .arrow-up {
        display: block;
    }


}

.damn-header {
    position: relative;
}

.damn-content .overview {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    width: 100%;
}

.damn-content .overview .events {
    position: absolute;
    right: 0px;
    overflow: hidden;
    width: 23%;
    max-width: 30em;
    top: 0px;
}

@media screen and (max-width: 4200px),
screen and (min-device-width: 320px)
and (max-device-width: 750px){
    .damn-content .overview .events {
        display: none;
    }
}

.damn-content .overview .events .card-wrapper {
    border: 0px;
}

.damn-content .overview .events .card-wrapper .card-body {
    height: auto;
    overflow: hidden;
}

.collapse {
    display: none;
}


.damn-content .overview .events .calendar {
    position: relative;
    overflow: hidden;
    height: auto;
    width: auto;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.damn-content .overview .events .fTitle {
    font-size: 110%;
    color: #33CCCC;
}

.damn-content .overview .events .fTitle .title {
    display: inline-block;
}


.CALENDAR:before {
    content: '\f073';
    margin-right: 10px;
}

.collapse-button {
    float: right;
}

.collapse-button .COLLAPSE:before,
    .UP:before{
    font-size: 32px !important;
    color: #33CCCC !important;
    line-height: 32px !important;
}

.collapse-button .link:hover .COLLAPSE:before,
    .link:hover .UP:before{
    color: #0099CC !important;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #F4F6F8;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #F4F6F8;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #F4F6F8;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #F4F6F8;
}

.APP:before {
    content: '\f21e';
    font-size: 15px;
    height: 15px;
    margin-right: 10px;
}
.ACCOUNT:before {
    content: '\f085';
    font-size: 15px;
    height: 15px;
    margin-right: 10px;
}

.CLOUD:before {
    content: '\f06c';
    font-size: 14px;
}

.NEWS:before {
    content: '\f1ea';
    font-size: 14px;
}
.BLOG:before {
    content: '\f044';
    font-size: 14px;
}

.PHOTOS:before {
    content: '\f030';
    font-size: 14px;
}

.VIDEOS:before {
    content: '\f03d';
    font-size: 14px;
}

.FRIENDS:before {
    content: '\f0c0';
    font-size: 14px;
}

.PRIVACY:before {
    content: '\f084';,
    font-size: 14px;
}

.PROFILE:before {
    content: '\f007';
    font-size: 14px;
}