.damn-content .options {
    float: left;
    width: 12em;
    padding: 20px 15px;
    background-color: #fff;
}

.damn-content .overview {
    position: relative;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
}

.damn-content .overview .events {
    position: absolute;
    right: 0px;
    overflow: hidden;
    width: 23%;
    max-width: 30em;
    top: 0px;
}

.damn-content .overview .events .card-wrapper {
    border: 0px;
}

.damn-content .overview .events .card-wrapper .card-body {
    height: auto;
    overflow: hidden;
}

.collapse {
    display: none;
}


.damn-content .overview .events .calendar {
    position: relative;
    overflow: hidden;
    height: auto;
    width: auto;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.damn-content .overview .events .fTitle {
    font-size: 110%;
    color: #33CCCC;
}

.damn-content .overview .events .fTitle .title {
    display: inline-block;
}


.CALENDAR:before {
    content: '\f073';
    margin-right: 10px;
}

.collapse-button {
    float: right;
}

.collapse-button .COLLAPSE:before,
    .UP:before{
    font-size: 32px !important;
    color: #33CCCC !important;
    line-height: 32px !important;
}

.collapse-button .link:hover .COLLAPSE:before,
    .link:hover .UP:before{
    color: #0099CC !important;
}

