.display-panel-wrapper {
    height: 250px;
    width: 100%;
    position: relative;
    overflow: hidden;
}


@media screen and (max-width: 750px),
    screen and (min-device-width: 320px)
    and (max-device-width: 750px){
    .display-panel-wrapper {
        border-bottom-color: transparent;
        height: 98px;
    }
}

@media screen and (min-width: 2800px) {
    .display-panel-wrapper {
        border-bottom-color: transparent;
        height: 420px;
    }
}
