.display-panel-wrapper {
    height: 250px;
    width: 100%;
    position: relative;
    overflow: hidden;
}


@media screen and (max-width: 750px) {
    .display-panel-wrapper {
        border-bottom-color: transparent;
        height: 52px;
    }
}
