
.fast-bar-wrapper {
    padding: 10px;
    overflow: hidden;
    background: -webkit-linear-gradient(#33CCCC, #33CCCB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#33CCCC, #33CCCB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#33CCCC, #33CCCB); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#33CCCC, #33CCCB); /* Standard syntax */
}

.fast-bar-wrapper .link:hover .icon:before,
    .link.active .icon:before,
    .link:hover a,
    .link.active a{
    color: #0099CC;
}

.buttons-container {
    float: right;
    margin-right: 20px;
}

.show-menu {
    float: left;
    visibility: hidden;
    position: relative;
}

.buttons-container .button-style {
    float: left;
    border-right: 0.1em solid #33DDEF;
}

.buttons-container a{
    color: #fff;
}

.buttons-container .button-style:last-child {
    border-right: 0px;
}


.buttons-container .calendar-button {
    visibility: hidden;
}


.calendar_fast_bar {
    background-color: #fff;
    position: absolute;
    padding: 10px;
    width: auto;
    display: none;
    right: 25px;
}

.notification_fast_bar {
    background-color: #fff;
    position: absolute;
    display: none;
    padding: 10px;
    width: 200px;
    height: 100px;
    right: 72px;
}

.fast-bar-container .arrow-up {
    border-bottom-color: #fff;
    position: absolute;
    top: -10px;
    right: 10px;
}

@media screen and (max-width: 750px),
screen and (min-device-width: 320px)
and (max-device-width: 750px) {
    .show-menu {
        visibility: visible;
    }

    .show-menu .icon:before,
    .show-menu .link{
        font-size: 28px !important;
        line-height: 28px !important
    }

    .show-menu {
        padding: 9px;
    }

    .fast-bar-container .arrow-up {
        top: -15px;
    }

    .buttons-container .icon:before {
        font-size: 28px !important;
        line-height: 28px !important
    }

    .buttons-container .button-style {
        border-right: 0.3em solid #33DDEF;
        padding: 9px;
    }

    .buttons-container a{
        font-size: 28px !important;
        line-height: 28px !important;
    }

    .calendar_fast_bar {
        right: 40px;
    }

    .fast-bar-container .arrow-up {
        top: -15px;
        right: 10px;
    }

    .notification_fast_bar {
        right: 120px;
        width: 320px;
        height: 400px;
    }

}

@media screen and (min-width: 2800px) {
    .buttons-container .icon:before {
        font-size: 42px !important;
        line-height: 42px !important;
    }

    .buttons-container .button-style {
        border-right: 0.3em solid #33DDEF;
        padding: 12px;
    }

    .buttons-container a{
        font-size: 42px !important;
        line-height: 42px !important;
        margin-left: 20px;
    }

    .calendar_fast_bar {
        right: 70px;
    }

    .fast-bar-container .arrow-up {
        top: -20px;
        right: 10px;
    }

    .notification_fast_bar {
        right: 190px;
        width: 320px;
        height: 400px;
    }
}

@media screen and (max-width: 4200px),
screen and (min-device-width: 320px)
and (max-device-width: 750px){
    .buttons-container .calendar-button {
        visibility: visible;
    }
}

@media screen and (min-width: 4200px) and (min-device-width: 750px) {
    .calendar_fast_bar {
        display: none !important;
    }
}

