.fast-bar-wrapper {
    padding: 10px;
    overflow: hidden;
    background: -webkit-linear-gradient(#33CCCC, #33CCCB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#33CCCC, #33CCCB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#33CCCC, #33CCCB); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#33CCCC, #33CCCB); /* Standard syntax */
}

.fast-bar-wrapper .link:hover .icon:before,
    .link.active .icon:before,
    .link:hover a,
    .link.active a{
    color: #0099CC;
}

.buttons-container {
    float: right;
    margin-right: 20px;
}

.show-menu {
    float: left;
    visibility: hidden;
    position: relative;
}


@media screen and (max-width: 750px) {
    .show-menu {
        visibility: visible;
    }
}

.buttons-container .button-style {
    float: left;
    border-right: 0.1em solid #33DDEF;
}

.buttons-container .button-style:last-child {
    border-right: 0px;
}

.buttons-container a{
    color: #fff;
}

.buttons-container .calendar-button {
    visibility: hidden;
}


.calendar_fast_bar {
    background-color: #fff;
    position: absolute;
    padding: 10px;
    width: auto;
    right: 30px;
    display: none
}

@media screen and (max-width: 1390px) {
    .buttons-container .calendar-button {
        visibility: visible;
    }
}

@media screen and (min-width: 1390px) {
    .calendar_fast_bar {
        display: none !important;
    }
}



.fast-bar-container .arrow-up {
    border-bottom-color: #fff;
    position: absolute;
    top: -10px;
    right: 5px;
}

.notification_fast_bar {
    background-color: #fff;
    position: absolute;
    display: none;
    padding: 10px;
    width: 200px;
    height: 100px;
    right: 72px;
}