.options-wrapper .title {
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid;
}

.options-wrapper .selections {
    clear: both;
    overflow: hidden;
    display: block;
    padding: 9px 15px;
}

.options-wrapper .selections .button-label,
        .selections a{
    color: #33CCCC !important;
}

.options-wrapper .selections .link:hover a,
        .selections .link:hover .icon{
    color: #0099CC !important;
    font-size: 15px;
    line-height: 15px;
}


.APP:before {
    content: '\f21e';
    font-size: 15px;
    height: 15px;
    margin-right: 10px;
}
.ACCOUNT:before {
    content: '\f085';
    font-size: 15px;
    height: 15px;
    margin-right: 10px;
}

.CLOUD:before {
    content: '\f06c';
    font-size: 14px;
}

.NEWS:before {
    content: '\f1ea';
    font-size: 14px;
}
.BLOG:before {
    content: '\f044';
    font-size: 14px;
}

.PHOTOS:before {
    content: '\f030';
    font-size: 14px;
}

.VIDEOS:before {
    content: '\f03d';
    font-size: 14px;
}

.FRIENDS:before {
    content: '\f0c0';
    font-size: 14px;
}

.PRIVACY:before {
    content: '\f084';,
    font-size: 14px;
}

.PROFILE:before {
    content: '\f007';
    font-size: 14px;
}