.options-wrapper .title {
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid;
}

.options-wrapper .title .icon:before {
    font-size: 20px;
}
.options-wrapper .option {
    min-height: 50px;
}

.options-wrapper .selections {
    clear: both;
    overflow: hidden;
    display: block;
    padding: 15px 15px;
}

.options-wrapper .selections .button-label,
        .selections a,
        .selections .icon:before{
    color: #33CCCC;
    font-size: 18px;
    line-height: 18px;
}

.options-wrapper .selections .link:hover a,
        .selections .link:hover .icon:before,
        .selections .link.active a,
        .selections .link.active .icon:before{
    color: #0099CC !important;
    font-size: 19px !important;
    line-height: 19px !important;
}


@media screen and (min-width: 2800px) {
    .options-wrapper .title {
        font-size: 45px;
        line-height: 45px;
        padding: 20px;
    }

    .options-wrapper .selections {
        clear: both;
        overflow: hidden;
        display: block;
        padding: 25px 25px;
    }

    .options-wrapper .title .icon:before {
        font-size: 45px;
    }
    .options-wrapper .option {
        min-height: 80px;
    }

    .options-wrapper .selections .button-label,
    .selections a,
    .selections .icon:before{
        font-size: 40px !important;
        line-height: 40px !important;
    }

    .options-wrapper .selections .link:hover a,
    .selections .link:hover .icon:before,
    .selections .link.active a,
    .selections .link.active .icon:before{
        font-size: 44px !important;
        line-height: 44px !important;
    }
}
.arrow-left {
    visibility: hidden;
    position: absolute;
    right: 0px;
}

.arrow-left.active {
    visibility: visible;
}

.personal-info {
    position: absolute;
    top: -40px;
    right: 10px;
}

.personal-info .userName {
    float: right;
    color: #000;
    font-weight: bold;
    margin-right: 10px;
    position: relative;
    line-height: 45px;
}
.personal-info .profile-picture {
    float: right;
    height: 60px;
    width: 60px;
    border: 1px solid;
    overflow: hidden;
}

.round-big {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
}

.profile-picture img {
}

@media only screen and (max-width: 750px),
only screen and (min-device-width: 320px)
and (max-device-width: 750px){
    .personal-info {
        right: 10px;
        top: 5px;
    }

    .personal-info .userName {
        color: #fff;
        top: -75px;
        left: -150px;
        right: auto;
        font-size: 40px !important;
    }

    .personal-info .profile-picture {
        height: 80px;
        width: 80px;
        border-color: transparent;
    }

    .options-wrapper .title {
        font-weight: bold;
        border-bottom: 1px solid;
        font-size: 42px;
        line-height: 42px;
        padding: 15px;
    }

    .options-wrapper .title .icon:before{
        font-size: 42px;
        line-height: 42px;
    }

    .options-wrapper .option {
        min-height: 50px;
    }

    .options-wrapper .selections {
        clear: both;
        overflow: hidden;
        display: block;
        padding: 9px 15px;
    }

    .options-wrapper .selections .button-label,
    .selections a,
    .selections .icon:before{
        color: #33CCCC;
        font-size: 40px !important;
        line-height: 40px !important;
    }

    .options-wrapper .selections .button-label a{
        margin-left: 20px;
    }

    .options-wrapper .selections .link:hover a,
    .selections .link:hover .icon:before,
    .selections .link.active a,
    .selections .link.active .icon:before{
        color: #0099CC !important;
        font-size: 41px !important;
        line-height: 41px !important;
    }
}

@media screen and (min-width: 2800px) {
    .personal-info .profile-picture {
        height: 90px;
        width: 90px;
    }

    .personal-info .userName {
        font-size: 30px;
    }
}

@media screen and (max-width: 400px) {
    .personal-info .userName {
        display: none;
    }
}
